@model Stock;
<div class="text-left">
    <h1 class="display-4">Stock Information for @Model.companyName</h1>
        <div>
            <h4>@stock.symbol</h4>
            <div>Min: @stock.primaryExchange</div>
            <div>@stock.calculationPrice</div>
            
        </div>
   
</div>
